.nbPlayers,
.material,
.duration,
.drunking,
.right,
.wrong,
.plus,
.minus,
.equal,
.inside,
.outside,
.joker,
.infinity,
.infinity-light,
*[class*="card-"],
*[class*="die-"],
*[class*="dieT-"],
.spades,
.clover,
.diamond,
.heart,
.downloadApp {
    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

    &.top {
        &::before {
            position: unset;
            display: block;
            margin: auto;
            margin-bottom: 2px;
            translate: unset;
        }
    }

    &.start {
        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            translate: calc(-100% - $margin-right) -50%;
        }
    }
}


.nbPlayers,
.material,
.duration,
.drunking,
.infinity {
    &::before {
        margin-top: -1px;
        opacity: 0.6;
    }
}

.infinity-light {
    &::before {
        margin-top: -4px;
    }
}

.plus,
.minus,
.equal,
.inside,
.outside,
*[class*="card-"],
.spades,
.clover,
.diamond,
.heart {
    &::before {
        translate: 0 -1px;
    }
}

*[class*="die-"],
*[class*="dieT-"] {
    &::before {
        translate: 0 -1.6px;
    }
}

.downloadApp {
    &::before {
        translate: 0 -3px;
        margin-right: 5px;

        @media screen and (max-width: 640px) {
            translate: 0 -1px;
        }
    }
}