$margin-right: 5px;

$onLine-size: 22px;
$onLine-size-small: 14px;
$onLine-info-size: 25px;
$onLine-card-height: 29px;
$onLine-infinityLight-height: 14px;

$onStart-size: 30px;
$onStart-info-size: $onLine-info-size;
$onStart-card-height: 40px;
$onStart-special-size: $onLine-size;