main#game {
    .preview {
        width: 25%;
        min-width: 230px;
        max-width: 330px;

        @media screen and (max-width: 1054px) {
            display: block;
            float: unset;
            object-position: unset;
            margin-left: unset;
            margin-bottom: unset;
            margin: auto;

            width: 60%;
            min-width: unset;
            max-width: 230px;
        }
    }

    >section:has(h2#Sommaire) {
        >div#picture {
            width: 40%;
            min-width: 300px;
            max-width: 475px;
        }

        @media screen and (max-width: 640px) {
            flex-flow: column nowrap;
            margin-top: 20px;
            margin-bottom: -20px;

            >div {
                &#picture {
                    margin: auto;
                    margin-bottom: 20px;

                    width: 100%;
                    min-width: unset;
                    max-width: 350px;
                }

                &:has(h2#Sommaire) {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
    }
}