/* LIGHT */
/* DARK */
html {
  scroll-padding-top: 90px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

a {
  color: #000;
}

strong {
  color: #ff0000;
}
strong a {
  color: #ff0000;
}

p.close, p.far, p.collapse {
  text-align: justify;
}
p.close {
  margin-bottom: 0;
  margin-top: 4px;
}
@media screen and (max-width: 640px) {
  p.close {
    margin-top: 8px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  p.close {
    margin-top: 6px;
  }
}
p.far {
  margin-bottom: 0;
  margin-top: 30px;
}
p.collapse {
  margin-bottom: 0;
  margin-top: 0;
}
p:has(+ *:not(p)) {
  margin-bottom: revert !important;
}

h1 + p.far,
h2 + p.far,
h3 + p.far,
h4 + p.far,
h5 + p.far,
h6 + p.far {
  margin-top: 24px;
}
@media screen and (max-width: 640px) {
  h1 + p.far,
  h2 + p.far,
  h3 + p.far,
  h4 + p.far,
  h5 + p.far,
  h6 + p.far {
    margin-top: 20px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  h1 + p.far,
  h2 + p.far,
  h3 + p.far,
  h4 + p.far,
  h5 + p.far,
  h6 + p.far {
    margin-top: 22px;
  }
}

p.small,
i.small {
  font-size: small;
}

.textCenter {
  text-align: center;
}

.boxCenter {
  margin: auto;
}

/* temp */
.indisponible {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #ff0000;
  text-align: center;
}

/* --- */
.nbPlayers,
.material,
.duration,
.drunking,
.right,
.wrong,
.plus,
.minus,
.equal,
.inside,
.outside,
.joker,
.infinity,
.infinity-light,
*[class*=card-],
*[class*=die-],
*[class*=dieT-],
.spades,
.clover,
.diamond,
.heart {
  position: relative;
  /* need a child span child which contain the html content when there is a strong markup in */
}
.nbPlayers.top,
.material.top,
.duration.top,
.drunking.top,
.right.top,
.wrong.top,
.plus.top,
.minus.top,
.equal.top,
.inside.top,
.outside.top,
.joker.top,
.infinity.top,
.infinity-light.top,
*[class*=card-].top,
*[class*=die-].top,
*[class*=dieT-].top,
.spades.top,
.clover.top,
.diamond.top,
.heart.top {
  margin-left: unset;
}
.nbPlayers.start,
.material.start,
.duration.start,
.drunking.start,
.right.start,
.wrong.start,
.plus.start,
.minus.start,
.equal.start,
.inside.start,
.outside.start,
.joker.start,
.infinity.start,
.infinity-light.start,
*[class*=card-].start,
*[class*=die-].start,
*[class*=dieT-].start,
.spades.start,
.clover.start,
.diamond.start,
.heart.start {
  display: flex;
  align-items: center;
}

.nbPlayers.start,
.material.start,
.duration.start,
.drunking.start,
.infinity.start {
  margin-left: 30px;
}

.right.start,
.wrong.start,
.plus.start,
.minus.start,
.equal.start,
.inside.start,
.outside.start,
.joker.start,
.infinity-light.start,
*[class*=die-].start,
*[class*=dieT-].start,
.spades.start,
.clover.start,
.diamond.start,
.heart.start {
  margin-left: 35px;
  min-height: 30px;
}

*[class*=card-].start {
  margin-left: 35px;
  min-height: 40px;
}

.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before,
.right::before,
.wrong::before,
.plus::before,
.minus::before,
.equal::before,
.inside::before,
.outside::before,
.joker::before,
.infinity::before,
.infinity-light::before,
*[class*=card-]::before,
*[class*=die-]::before,
*[class*=dieT-]::before,
.spades::before,
.clover::before,
.diamond::before,
.heart::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.nbPlayers.top::before,
.material.top::before,
.duration.top::before,
.drunking.top::before,
.right.top::before,
.wrong.top::before,
.plus.top::before,
.minus.top::before,
.equal.top::before,
.inside.top::before,
.outside.top::before,
.joker.top::before,
.infinity.top::before,
.infinity-light.top::before,
*[class*=card-].top::before,
*[class*=die-].top::before,
*[class*=dieT-].top::before,
.spades.top::before,
.clover.top::before,
.diamond.top::before,
.heart.top::before {
  position: unset;
  display: block;
  margin: auto;
  margin-bottom: 2px;
  translate: unset;
}
.nbPlayers.start::before,
.material.start::before,
.duration.start::before,
.drunking.start::before,
.right.start::before,
.wrong.start::before,
.plus.start::before,
.minus.start::before,
.equal.start::before,
.inside.start::before,
.outside.start::before,
.joker.start::before,
.infinity.start::before,
.infinity-light.start::before,
*[class*=card-].start::before,
*[class*=die-].start::before,
*[class*=dieT-].start::before,
.spades.start::before,
.clover.start::before,
.diamond.start::before,
.heart.start::before {
  position: absolute;
  top: 50%;
  left: 0;
  translate: calc(-100% - 5px) -50%;
}

.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before,
.infinity::before {
  margin-top: -1px;
  opacity: 0.6;
}

.infinity-light::before {
  margin-top: -4px;
}

.plus::before,
.minus::before,
.equal::before,
.inside::before,
.outside::before,
*[class*=card-]::before,
.spades::before,
.clover::before,
.diamond::before,
.heart::before {
  translate: 0 -1px;
}

*[class*=die-]::before,
*[class*=dieT-]::before {
  translate: 0 -1.6px;
}

.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before,
.infinity::before {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}

.infinity-light::before {
  width: 22px;
  height: 14px;
  background-size: 22px 14px;
}

.right::before,
.wrong::before,
.plus::before,
.minus::before,
.equal::before,
.inside::before,
.outside::before,
.joker::before,
.spades::before,
.clover::before,
.diamond::before,
.heart::before {
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
}
.right.small::before,
.wrong.small::before,
.plus.small::before,
.minus.small::before,
.equal.small::before,
.inside.small::before,
.outside.small::before,
.joker.small::before,
.spades.small::before,
.clover.small::before,
.diamond.small::before,
.heart.small::before {
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
}
.right.start::before,
.wrong.start::before,
.plus.start::before,
.minus.start::before,
.equal.start::before,
.inside.start::before,
.outside.start::before,
.joker.start::before,
.spades.start::before,
.clover.start::before,
.diamond.start::before,
.heart.start::before {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

*[class*=die-]::before,
*[class*=dieT-]::before {
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
}
*[class*=die-].start::before,
*[class*=dieT-].start::before {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

*[class*=card-]::before {
  width: 22px;
  height: 29px;
  background-size: 22px 29px;
}
*[class*=card-].start::before {
  width: 30px;
  height: 40px;
  background-size: 30px 40px;
}

.nbPlayers::before {
  background-image: url(../img/pictos/users_group.svg);
}

.duration::before {
  background-image: url(../img/pictos/clock.svg);
  scale: 0.8;
}

.drunking::before {
  background-image: url(../img/pictos/beer.svg);
  scale: 1.05;
}

.material::before {
  background-image: url(../img/pictos/dice.svg);
  scale: 1.2;
}

.right::before {
  background-image: url(../img/pictos/right.svg);
}

.wrong::before {
  background-image: url(../img/pictos/wrong.svg);
}

.plus::before {
  background-image: url(../img/pictos/plus.svg);
}

.minus::before {
  background-image: url(../img/pictos/minus.svg);
}

.equal::before {
  background-image: url(../img/pictos/equal.svg);
}

.inside::before {
  background-image: url(../img/pictos/inside.svg);
}

.outside::before {
  background-image: url(../img/pictos/outside.svg);
}

.joker::before {
  background-image: url(../img/logo/picto-noir-transparent.png);
}

.infinity::before {
  background-image: url(../img/pictos/infinity.svg);
  scale: 0.9;
}

.infinity-light::before {
  background-image: url(../img/pictos/infinity-light.svg);
  scale: 1.5;
}

.card-A::before {
  background-image: url(../img/pictos/cards/A.png);
}

.card-2::before {
  background-image: url(../img/pictos/cards/2.png);
}

.card-3::before {
  background-image: url(../img/pictos/cards/3.png);
}

.card-4::before {
  background-image: url(../img/pictos/cards/4.png);
}

.card-5::before {
  background-image: url(../img/pictos/cards/5.png);
}

.card-6::before {
  background-image: url(../img/pictos/cards/6.png);
}

.card-7::before {
  background-image: url(../img/pictos/cards/7.png);
}

.card-8::before {
  background-image: url(../img/pictos/cards/8.png);
}

.card-9::before {
  background-image: url(../img/pictos/cards/9.png);
}

.card-10::before {
  background-image: url(../img/pictos/cards/10.png);
}

.card-V::before {
  background-image: url(../img/pictos/cards/V.png);
}

.card-D::before {
  background-image: url(../img/pictos/cards/D.png);
}

.card-R::before {
  background-image: url(../img/pictos/cards/R.png);
}

.die-1::before {
  background-image: url(../img/pictos/dice/1.svg);
}

.die-2::before {
  background-image: url(../img/pictos/dice/2.svg);
}

.die-3::before {
  background-image: url(../img/pictos/dice/3.svg);
}

.die-4::before {
  background-image: url(../img/pictos/dice/4.svg);
}

.die-5::before {
  background-image: url(../img/pictos/dice/5.svg);
}

.die-6::before {
  background-image: url(../img/pictos/dice/6.svg);
}

.dieT-2::before {
  background-image: url(../img/pictos/dice/T-2.png);
}

.dieT-3::before {
  background-image: url(../img/pictos/dice/T-3.png);
}

.dieT-6::before {
  background-image: url(../img/pictos/dice/T-6.png);
}

.dieT-7::before {
  background-image: url(../img/pictos/dice/T-7.png);
}

.dieT-9::before {
  background-image: url(../img/pictos/dice/T-9.png);
}

.dieT-10::before {
  background-image: url(../img/pictos/dice/T-10.png);
}

.dieT-11::before {
  background-image: url(../img/pictos/dice/T-11.png);
}

.dieT-12::before {
  background-image: url(../img/pictos/dice/T-12.png);
}

.spades::before {
  background-image: url(../img/pictos/cards/spades.svg);
}

.clover::before {
  background-image: url(../img/pictos/cards/clover.svg);
}

.diamond::before {
  background-image: url(../img/pictos/cards/diamond.svg);
}

.heart::before {
  background-image: url(../img/pictos/cards/heart.svg);
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 8px;
  color: #fff;
  background-color: #080808;
  border-radius: 5px;
  box-shadow: #000 0 0 5px;
}

.toastLoad {
  animation: fadeinout 4s linear forwards;
}

@keyframes fadeinout {
  0%, 100% {
    opacity: 0;
  }
  10%, 80% {
    opacity: 1;
  }
}
header#navigation {
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #000;
  background-color: #eee;
  z-index: 1;
}
@media screen and (max-width: 640px) {
  header#navigation {
    height: 50px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  header#navigation {
    height: 60px;
  }
}
header#navigation > div#logo {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
  width: 240px;
}
@media screen and (max-width: 640px) {
  header#navigation > div#logo {
    width: 200px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  header#navigation > div#logo {
    width: 220px;
  }
}
header#navigation > div#logo > img {
  display: block;
  width: 100%;
}
header#navigation > nav {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 640px) {
  header#navigation > nav {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  header#navigation > nav {
    justify-content: flex-end;
  }
}
header#navigation > nav > input {
  display: none;
}
header#navigation > nav > input:checked ~ label::before {
  background-image: url(../img/pictos/cross.svg);
}
header#navigation > nav > label {
  box-sizing: border-box;
  display: none;
  padding: 10px;
  cursor: pointer;
}
header#navigation > nav > label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/pictos/bars.svg);
}
header#navigation > nav > a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  border-bottom: solid 4px transparent;
}
header#navigation > nav > a:hover {
  border-bottom: solid 4px #ff0000;
}
header#navigation > nav > a:focus {
  border-bottom: solid 4px #be0000;
}
header#navigation > nav > a[selected] {
  border-bottom: solid 4px #ff0000;
}
@media screen and (max-width: 640px) {
  header#navigation > nav > label {
    display: block;
  }
  header#navigation > nav > a {
    justify-content: center;
    width: 100%;
    background-color: #eee;
    border-bottom: none;
    -webkit-text-decoration: underline transparent;
            text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
  header#navigation > nav > a:first-of-type {
    box-shadow: inset 0px 10px 10px -15px black;
  }
  header#navigation > nav > a[selected], header#navigation > nav > a:hover {
    border-bottom: none;
    text-decoration-color: #ff0000;
  }
  header#navigation > nav > a:focus {
    border-bottom: none;
    text-decoration-color: #be0000;
  }
  header#navigation > nav:has(> input:not(:checked)) > a {
    display: none;
  }
}

main {
  margin: auto;
  width: 70%;
  padding-bottom: 200px;
}
@media screen and (max-width: 640px) {
  main {
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  main {
    padding-bottom: 175px;
  }
}
@media screen and (max-width: 640px) {
  main {
    width: 85%;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  main {
    width: 77.5%;
  }
}
main > h1 {
  text-align: center;
}

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 30px 5%;
  color: #fff;
  background-color: #111;
}
@media screen and (max-width: 640px) {
  footer {
    height: 150px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  footer {
    height: 175px;
    padding-top: 25px;
  }
}
footer > div#QRCode {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  height: 100%;
  padding-right: 25px;
  border-right: solid 1px #333;
}
footer > div#QRCode > div {
  cursor: pointer;
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
}
footer > div#QRCode > div > img {
  display: block;
  margin: auto;
  height: 100%;
}
footer > div#QRCode > div > p {
  position: relative;
  margin-top: 5px;
  font-size: small;
  text-align: center;
}
footer > div#others {
  box-sizing: border-box;
  width: 50%;
  padding-left: 25px;
}
footer > div#others > a {
  color: #fff;
  text-decoration: none;
}
footer > div#others > a:hover {
  text-decoration: underline;
}
footer > div#others > a:focus {
  text-decoration: underline;
  color: #ff0000;
}/*# sourceMappingURL=style.css.map */