/* LIGHT */
/* DARK */
body {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

a {
  color: #000;
}

header#navigation {
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #000;
  background-color: #eee;
}
header#navigation > div {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
  width: 20%;
}
header#navigation > div > img {
  display: block;
  width: 100%;
}
header#navigation > nav {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
header#navigation > nav > a {
  padding: 24px 20px 20px 20px;
  text-decoration: none;
}
header#navigation > nav > a:hover {
  border-bottom: solid 4px #ff0000;
}
header#navigation > nav > a:focus {
  border-bottom: solid 4px #be0000;
}
header#navigation > nav > a[selected] {
  border-bottom: solid 4px #ff0000;
}

main {
  margin: auto;
  width: 60%;
}

strong {
  color: #ff0000;
}

.nbPlayers::before, .material::before, .duration::before, .drunking::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  background-size: contain;
  vertical-align: bottom;
  opacity: 0.6;
}

.nbPlayers::before {
  background-image: url(../img/pictos/users_group.svg);
}

.material::before {
  background-image: url(../img/pictos/dice.svg);
}

.duration::before {
  background-image: url(../img/pictos/clock.svg);
  width: 21px;
  height: 21px;
  margin: 2px 7px 2px 2px;
}

.drunking::before {
  background-image: url(../img/pictos/beer.svg);
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px 10%;
  color: #fff;
  background-color: #111;
}
footer > div#QRCode {
  position: relative;
  width: 25%;
  border-right: solid 1px #333;
  cursor: pointer;
}
footer > div#QRCode > img {
  display: block;
  margin: auto;
  width: 80%;
}
footer > div#QRCode > p {
  position: relative;
  margin: 0;
  margin-top: 5px;
  font-size: small;
  text-align: center;
}
footer > div#others {
  box-sizing: border-box;
  width: 25%;
  padding-left: 25px;
}
footer > div#others > a {
  color: #fff;
  text-decoration: none;
}
footer > div#others > a:hover {
  text-decoration: underline;
}
footer > div#others > a:focus {
  text-decoration: underline;
  color: #ff0000;
}

/* to delete */
#alpha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 890px;
  padding: 50px;
  color: #fff;
  text-align: center;
  background-color: #333;
  border-radius: 20px;
}

#alpha > img {
  width: 200px;
}

/* --- */
.toast {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 8px;
  background-color: #080808;
  border-radius: 5px;
  box-shadow: #000 0 0 5px;
}

.toastLoad {
  animation: fadeinout 4s linear forwards;
}

@keyframes fadeinout {
  0%, 100% {
    opacity: 0;
  }
  10%, 80% {
    opacity: 1;
  }
}
main#games > h1 {
  text-align: center;
}
main#games > input {
  display: block;
  margin: auto;
  padding: 10px 20px;
  width: 220px;
  background-color: #eee;
  border: none;
  border-radius: 50px;
  outline: none;
}
main#games > input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
main#games > #gamesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px 0;
}
main#games > #gamesList > article {
  box-sizing: border-box;
  margin: 0 20px 20px 20px;
  width: 275px;
  height: 325px;
  background-color: #eee;
}
main#games > #gamesList > article > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
main#games > #gamesList > article > a > div#picture {
  width: 100%;
}
main#games > #gamesList > article > a > div#picture > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main#games > #gamesList > article > a > div#informations {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
main#games > #gamesList > article > a > div#informations > h2 {
  margin: 0;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
}
main#games > #gamesList > article > a > div#informations > div {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
main#games > #gamesList > article > a > div#informations > div > div > p {
  margin: 0;
}
main#games > #gamesList > article > a > div#informations > div > div#col1 {
  width: 40%;
  border-right: solid 2px #bbb;
}
main#games > #gamesList > article > a > div#informations > div > div#col1 > p {
  padding: 2px 0;
}
main#games > #gamesList > article > a > div#informations > div > div#col2 {
  width: 60%;
  padding-left: 10px;
  text-align: center;
}
main#games > #gamesList > article > a > div#informations > div > div#col2 > p {
  line-height: 1.2em;
}
main#games > #gamesList > article > a > div#informations > div > div#col2 > p.material::before {
  display: block;
  margin: auto;
  margin-bottom: 2px;
}
main#games > #gamesList > article:hover {
  box-shadow: #bbb 0 0 10px;
}
main#games > #gamesList > article > a:focus {
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */