main#game {
    $mt-base: -1px;

    .right {
        &::before {
            margin-top: $mt-base;
        }

        &#right0::before {
            @media screen and (max-width: 929px) {
                margin-top: 0;
            }
        }

        &#right1::before {
            @media screen and (max-width: 954px) {
                margin-top: 0;
            }
        }

        &#right2::before {
            @media screen and (max-width: 341px) {
                margin-top: 0;
            }
        }
    }
    
    .wrong {
        &::before {
            margin-top: $mt-base;
        }

        &#wrong1::before {
            @media screen and (max-width: 2081px) {
                margin-top: 0;
            }
        }

        &#wrong2::before {
            @media screen and (max-width: 564px) {
                margin-top: 0;
            }
        }
    }

    >section:has(h2#Sommaire) {
        >div#picture {
            width: 50%;
            min-width: 260px;
            max-width: 400px;
        }

        @media screen and (max-width: 640px) {
            flex-flow: column nowrap;
            margin-top: 20px;
            margin-bottom: -20px;

            >div {
                &#picture {
                    margin: auto;
                    margin-bottom: 20px;

                    width: 100%;
                    min-width: unset;
                    max-width: 325px;
                }

                &:has(h2#Sommaire) {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
    }
}