header#navigation {
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: $navigation-height;
    color: $l-base-color;
    background-color: $l-bg-lightGray1-color;
    z-index: 1;

    @media screen and (max-width: 640px) {
        height: $navigation-height-640;
    }

    @media screen and (min-width: 641px) and (max-width: 1200px) {
        height: $navigation-height-1200;
    }

    >div#logo {
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translate(0, -50%);
        width: 240px;

        @media screen and (max-width: 640px) {
            width: 200px;
        }

        @media screen and (min-width: 641px) and (max-width: 1200px) {
            width: 220px;
        }

        >img {
            display: block;
            width: 100%;
        }
    }

    >nav {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 640px) {
            justify-content: flex-end;
        }

        @media screen and (min-width: 641px) and (max-width: 1200px) {
            justify-content: flex-end;
        }

        >#installApp {
            position: absolute;
            top: 50%;
            right: 1%;
            transform: translate(0, -50%);
            width: 50px;
            cursor: pointer;
    
            @media screen and (max-width: 640px) {
                width: 30px;
                position: unset;
                transform: unset;
                padding-right: 1%;
            }
    
            @media screen and (min-width: 641px) and (max-width: 1200px) {
                width: 40px;
                position: unset;
                transform: unset;
                padding-right: 1%;
            }
    
            >img {
                display: block;
                width: 100%;
            }
        }

        >input {
            display: none;

            &:checked~label::before {
                background-image: url(../img/pictos/cross.svg);
            }
        }

        >label {
            box-sizing: border-box;
            display: none;
            padding: 10px;
            cursor: pointer;

            &::before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                background-image: url(../img/pictos/bars.svg);
            }
        }

        >a {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            text-decoration: none;

            border-bottom: solid 4px transparent;

            &:hover {
                border-bottom: solid 4px $l-p-color;
            }

            &:focus {
                border-bottom: solid 4px $l-p-darker-color;
            }

            &[selected] {
                border-bottom: solid 4px $l-p-color;
            }
        }

        @media screen and (max-width: 640px) {
            // For "auto" hide on blur + js : this.checked = false
            // >input {
            //     display: block;
            //     opacity: 0;
            // }

            >label {
                display: block;
            }

            >a {
                justify-content: center;
                width: 100%;
                background-color: $l-bg-lightGray1-color;
                border-bottom: none;
                text-decoration: underline transparent;
                text-decoration-thickness: 2px;
                text-underline-offset: 3px;

                &:first-of-type {
                    box-shadow: inset 0px 10px 10px -15px black;
                }

                &[selected],
                &:hover {
                    border-bottom: none;
                    text-decoration-color: $l-p-color;
                }

                &:focus {
                    border-bottom: none;
                    text-decoration-color: $l-p-darker-color;
                }
            }

            &:has(>input:not(:checked))>a {
                display: none;
            }
        }
    }

}