@import "../variables";

main#game {
    padding-bottom: $footer-height + 50px;

    @media screen and (max-width: 640px) {
        padding-bottom: $footer-height-640 + 40px;
    }

    @media screen and (min-width: 641px) and (max-width: 1200px) {
        padding-bottom: $footer-height-1200 + 30px;
    }

    h2 {
        border-bottom: solid 1px $l-base-color;
    }

    h3 {
        margin-top: 30px;
        margin-left: 10px;
        padding: 5px 0 5px 10px;
        border-bottom: solid 1px $l-base-color;
        border-left: solid 1px $l-base-color;
    }

    a {
        &:hover {
            color: $l-p-color;
        }

        &:focus {
            color: $l-p-darker-color;
        }
    }

    ol>li {
        margin: 7px 0;
    }


    .preview {
        float: right;
        width: 25%;
        max-width: 600px;
        height: 25%;
        max-height: 400px;
        margin-left: 20px;
        object-fit: contain;
        object-position: top right;

        @media screen and (max-width: 640px) {
            display: block;
            float: unset;
            width: 60%;
            max-width: unset;
            height: unset;
            margin-left: unset;
            margin: auto;
            object-position: unset;
        }
    }

    .col-2 {
        display: flex;
        flex-flow: row wrap;

        @media screen and (max-width: 640px) {
            flex-flow: column nowrap;
        }

        >div {
            box-sizing: border-box;
            width: 50%;
            padding: 20px 20px 15px 20px;
            text-align: center;
            border-left: solid 4px $l-bg-color;
            border-right: solid 4px $l-bg-color;
            background-color: $l-bg-lightGray1-color;

            @media screen and (max-width: 640px) {
                width: 100%;
                border-left: none;
                border-right: none;
                border-top: solid 4px $l-bg-color;
                border-bottom: solid 4px $l-bg-color;
            }

            >.col-title {
                margin-top: 0;
                text-transform: uppercase;
                font-weight: 700;
            }

            >img {
                display: block;
                margin: auto;
                width: 80%;
            }

            >p:last-child {
                margin-bottom: 0;
            }
        }
    }


    >section {
        margin-top: 30px;

        &:has(h2#Sommaire) {
            display: flex;
            flex-flow: row wrap;

            @media screen and (max-width: 840px) {
                flex-flow: column nowrap;
                margin-top: 20px;
                margin-bottom: -20px;
            }

            h2 {
                margin-top: 0;
            }

            >div {
                box-sizing: border-box;

                &#picture {
                    width: 40%;

                    @media screen and (max-width: 840px) {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    >img {
                        display: block;
                        width: 100%;
                        min-width: 260px;
                        max-width: 450px;

                        @media screen and (max-width: 840px) {
                            margin: auto;
                            min-width: unset;
                            max-width: 350px;
                        }
                    }
                }

                &:has(h2#Sommaire) {
                    width: 60%;
                    padding-left: 20px;

                    @media screen and (max-width: 840px) {
                        width: 100%;
                        padding-left: 0;
                    }
                }
            }
        }

        &:has(>h2#Présentation) {
            >div {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                >* {
                    box-sizing: border-box;
                    margin: 0;
                    margin-bottom: 5px;
                    width: fit-content;
                    padding: 0 10px;
                    text-align: center;

                }

                >ul {
                    width: auto;
                    list-style: none;
                }
            }
        }

    }
}