main#game {
    $mt-base: -2px;

    .right::before {
        margin-top: $mt-base;
    
        @media screen and (max-width: 2588px) {
            margin-top: 0;
        }
    }
    
    .wrong::before {
        margin-top: $mt-base;
    
        @media screen and (max-width: 2546px) {
            margin-top: 0;
        }
    }


    .preview {
        display: block;
        float: unset;
        object-position: unset;
        margin-left: unset;
        margin-bottom: unset;
        margin: auto;

        width: 50%;
        min-width: 250px;
        max-width: 400px;

        @media screen and (max-width: 680px) {
            width: 100%;
            min-width: unset;
            max-width: 250px;
        }
    }

    >section:has(h2#Sommaire) {
        >div#picture {
            width: 60%;
            min-width: 350px;
            max-width: 600px;
        }

        @media screen and (max-width: 690px) {
            flex-flow: column nowrap;
            margin-top: 20px;
            margin-bottom: -20px;

            >div {
                &#picture {
                    margin: auto;
                    margin-bottom: 20px;

                    width: 100%; // often 100%
                    min-width: unset;
                    max-width: 450px;
                }

                &:has(h2#Sommaire) {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
    }
}