html {
    scroll-padding-top: $navigation-height + 20px;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $l-bg-color;
    min-height: 100vh;
}

a {
    color: $l-base-color;
}

strong {
    color: $l-p-color;
}


main {
    margin: auto;
    width: 70%;
    padding-bottom: $footer-height;
    // background-color: antiquewhite; // temp

    @media screen and (max-width: 640px) {
        width: 90%;
    }

    @media screen and (min-width: 641px) and (max-width: 1200px) {
        width: 80%;
    }

    >h1 {
        text-align: center;
    }
}

header#navigation {
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: $navigation-height;
    color: $l-base-color;
    background-color: $l-bg-lightGray-color;
    z-index: 1;

    @media screen and (max-width: 640px) {
        height: $navigation-height-640;
    }

    >div#logo {
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translate(0, -50%);
        width: 240px;

        @media screen and (max-width: 640px) {
            // position: relative;
            // margin: auto;
            width: 200px;
        }

        >img {
            display: block;
            width: 100%;
        }
    }

    >nav {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 640px) {
            justify-content: flex-end;
        }

        @media screen and (min-width: 641px) and (max-width: 1200px) {
            justify-content: flex-end;
        }

        >input {
            display: none;

            &:checked~label::before {
                background-image: url(../img/pictos/cross.svg);
            }
        }

        >label {
            box-sizing: border-box;
            display: none;
            padding: 10px;
            cursor: pointer;

            &::before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                background-image: url(../img/pictos/bars.svg);
            }
        }

        >a {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            text-decoration: none;

            border-bottom: solid 4px transparent;

            &:hover {
                border-bottom: solid 4px $l-p-color;
            }

            &:focus {
                border-bottom: solid 4px $l-p-darker-color;
            }

            &[selected] {
                border-bottom: solid 4px $l-p-color;
            }
        }

        @media screen and (max-width: 640px) {
            // >input {
            //     display: block;
            //     opacity: 0;
            // }
            
            >label {
                display: block;
            }

            >a {
                justify-content: center;
                width: 100%;
                background-color: $l-bg-lightGray-color;

                &:first-of-type {
                    box-shadow: inset 0px 10px 10px -15px black;
                }
            }

            &:has(>input:not(:checked))>a {
                display: none;
            }
        }
    }
}

footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    // transform: translate(0, 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $footer-height;
    padding: 40px 10%;
    color: $l-footer-text-color;
    background-color: $l-bg-footer-color;

    >div#QRCode {
        position: relative;
        width: 25%;
        height: 100%;
        padding-right: 25px;
        border-right: solid 1px $l-bg-f-lighter-color;

        >div {
            cursor: pointer;
            margin-left: auto;
            width: fit-content;
            height: inherit;

            >img {
                display: block;
                height: 90%;
            }

            >p {
                position: relative;
                margin-top: 5px;
                font-size: small;
                text-align: center;
            }
        }
    }

    >div#others {
        box-sizing: border-box;
        width: 25%;
        padding-left: 25px;

        >a {
            color: $l-footer-text-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:focus {
                text-decoration: underline;
                color: $l-p-color;
            }
        }
    }
}


.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before,
.right::before,
.wrong::before,
.joker::before,
.card-A::before,
.card-3::before,
.card-6::before,
.card-9::before,
.card-V::before,
.card-D::before,
.card-R::before {
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before,
.right::before,
.wrong::before,
.joker::before {
    width: 25px;
    height: 25px;
}


.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before {
    top: 2px;
    background-size: contain;
    vertical-align: bottom;
    opacity: 0.6;
}

.nbPlayers::before {
    background-image: url(../img/pictos/users_group.svg);
}

.duration::before {
    background-image: url(../img/pictos/clock.svg);
    width: 21px;
    height: 21px;
    margin: 2px 7px 2px 2px;
}

.drunking::before {
    background-image: url(../img/pictos/beer.svg);
}

.material::before {
    background-image: url(../img/pictos/dice.svg);
}


.right::before,
.wrong::before,
.joker::before {
    top: -3px;
    vertical-align: middle;
}

.right::before {
    background-image: url(../img/pictos/right.svg);
}

.wrong::before {
    background-image: url(../img/pictos/wrong.svg);
}

.joker::before {
    background-image: url(../img/logo/picto-noir-transparent.png);
    background-size: 25px 25px;
}


.card-A::before,
.card-3::before,
.card-6::before,
.card-9::before,
.card-V::before,
.card-D::before,
.card-R::before {
    width: 30px;
    height: 40px;
    background-size: 30px 40px;
    vertical-align: middle;
}

.card-A::before {
    background-image: url(../img/pictos/cards/A.png);
}

.card-3::before {
    background-image: url(../img/pictos/cards/3.png);
}

.card-6::before {
    background-image: url(../img/pictos/cards/6.png);
}

.card-9::before {
    background-image: url(../img/pictos/cards/9.png);
}

.card-V::before {
    background-image: url(../img/pictos/cards/V.png);
}

.card-D::before {
    background-image: url(../img/pictos/cards/D.png);
}

.card-R::before {
    background-image: url(../img/pictos/cards/R.png);
}




/* to delete */
#alpha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 890px;
    padding: 50px;
    color: #fff;
    text-align: center;
    background-color: #333;
    border-radius: 20px;
}

#alpha>img {
    width: 200px;
}

/* --- */