/* LIGHT */
$l-bg-color: #fff;
$l-bg-lightGray-color: #eee;
$l-bg-darkerLightGray-color: #bbb;

$l-p-color: #ff0000;
$l-p-lighter-color: #ff4444;
$l-p-darker-color: #be0000;

$l-b-t-color: #000;


/* DARK */
$d-bg-color: #222;