/* LIGHT */
$l-bg-color: #fff;
$l-bg-lightGray-color: #eee;
$l-bg-darkerLightGray-color: #bbb;

$l-p-color: #ff0000;
$l-p-lighter-color: #ff4444;
$l-p-darker-color: #be0000;

$l-base-color: #000;
$l-reverse-color: #fff;

$l-bg-footer-color: #111;
$l-bg-f-lighter-color: #333;
$l-footer-text-color: #fff;

$l-bg-toast-color: #080808;
$l-toast-shadow-color: #000;

$navigation-height: 70px;
$footer-height: 250px;

/* DARK */
$d-bg-color: #444;