$mt-base: -2px;


.right::before {
    margin-top: $mt-base;

    @media screen and (max-width: 786px) {
        margin-top: 0;
    }
}

.wrong::before {
    margin-top: $mt-base;

    @media screen and (max-width: 493px) {
        margin-top: 0;
    }
}