html {
    scroll-padding-top: $navigation-height + 20px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $l-bg-color;
    min-height: 100vh;
}

a {
    color: $l-base-color;
}

strong {
    color: $l-p-color;

    a {
        color: $l-p-color;
    }
}

p {
    &.close {
        margin-bottom: 0;
        margin-top: 4px;

        @media screen and (max-width: 640px) {
            margin-top: 8px;
        }

        @media screen and (min-width: 641px) and (max-width: 1200px) {
            margin-top: 6px;
        }
    }

    &.far {
        margin-bottom: 0;
        margin-top: 30px;
    }

    &.collapse {
        margin-bottom: 0;
        margin-top: 0;
    }

    &:has(+*:not(p)) {
        margin-bottom: revert !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &+p {
        &.far {
            margin-top: 24px;

            @media screen and (max-width: 640px) {
                margin-top: 20px;
            }

            @media screen and (min-width: 641px) and (max-width: 1200px) {
                margin-top: 22px;
            }
        }
    }
}



p,
i {
    &.small {
        font-size: small;
    }
}

.textCenter{
    text-align: center;
}

.boxCenter {
    margin: auto;
}






/* temp */

.indisponible {
    width: fit-content;
    margin: auto;
    color: #ff0000;
    text-align: center;
}

/* --- */