$margin-right: 5px;
$onLine-size: 22px;
$info-size: 25px;
$card-width: 30px;
$card-height: 40px;
$inf-lig-height: 14px;


.nbPlayers,
.material,
.duration,
.drunking,
.right,
.wrong,
.joker,
.infinity,
.infinity-light,
.card-A,
.card-3,
.card-6,
.card-9,
.card-V,
.card-D,
.card-R,
.die-1,
.die-2,
.die-3,
.die-4,
.die-5,
.die-6,
.dieT-2,
.dieT-3,
.dieT-6,
.dieT-7,
.dieT-9,
.dieT-10,
.dieT-11,
.dieT-12 {
    position: relative;

    &::before {
        content: "";
    }

    &.top {
        margin-left: unset;

        &::before {
            position: unset;
            display: block;
            margin: auto;
            margin-bottom: 2px;
            translate: unset;
        }
    }
}

.nbPlayers,
.material,
.duration,
.drunking,
.right,
.wrong,
.joker,
.infinity {
    margin-left: calc($info-size + $margin-right);
}

.card-A,
.card-3,
.card-6,
.card-9,
.card-V,
.card-D,
.card-R {
    margin-left: calc($card-width + $margin-right);
    min-height: $card-height;
    display: flex;
    align-items: center;
}

.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before,
.right::before,
.wrong::before,
.joker::before,
.infinity::before,
.card-A::before,
.card-3::before,
.card-6::before,
.card-9::before,
.card-V::before,
.card-D::before,
.card-R::before {
    position: absolute;
    top: 50%;
    left: 0;
    translate: calc(-100% - $margin-right) -50%;
}

.infinity-light::before {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}

.die-1::before,
.die-2::before,
.die-3::before,
.die-4::before,
.die-5::before,
.die-6::before,
.dieT-2::before,
.dieT-3::before,
.dieT-6::before,
.dieT-7::before,
.dieT-9::before,
.dieT-10::before,
.dieT-11::before,
.dieT-12::before {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 4px;
}

.die-1,
.die-2,
.die-3,
.die-4,
.die-5,
.die-6,
.dieT-2,
.dieT-3,
.dieT-6,
.dieT-7,
.dieT-9,
.dieT-10,
.dieT-11,
.dieT-12 {
    &:has(+ .die-1),
    &:has(+ .die-2),
    &:has(+ .die-3),
    &:has(+ .die-4),
    &:has(+ .die-5),
    &:has(+ .die-6),
    &:has(+ .dieT-2),
    &:has(+ .dieT-3),
    &:has(+ .dieT-6),
    &:has(+ .dieT-7),
    &:has(+ .dieT-9),
    &:has(+ .dieT-10),
    &:has(+ .dieT-11),
    &:has(+ .dieT-12) {
        &::before {
            margin-right: 1px;
        }
    }
}

.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before,
.infinity::before {
    width: $info-size;
    height: $info-size;
    background-size: $info-size $info-size;
    margin-top: -1px;
}

.right::before,
.wrong::before,
.joker::before,
.die-1::before,
.die-2::before,
.die-3::before,
.die-4::before,
.die-5::before,
.die-6::before,
.dieT-2::before,
.dieT-3::before,
.dieT-6::before,
.dieT-7::before,
.dieT-9::before,
.dieT-10::before,
.dieT-11::before,
.dieT-12::before {
    width: $onLine-size;
    height: $onLine-size;
    background-size: $onLine-size $onLine-size;
}

.infinity-light::before {
    width: $onLine-size;
    height: $inf-lig-height;
    background-size: $onLine-size $inf-lig-height;
}

.card-A::before,
.card-3::before,
.card-6::before,
.card-9::before,
.card-V::before,
.card-D::before,
.card-R::before {
    width: $card-width;
    height: $card-height;
    background-size: $card-width $card-height;
}

.nbPlayers::before,
.material::before,
.duration::before,
.drunking::before,
.infinity::before {
    opacity: 0.6;
}

.nbPlayers::before {
    background-image: url(../img/pictos/users_group.svg);
}

.duration::before {
    background-image: url(../img/pictos/clock.svg);
    scale: 0.8;
}

.drunking::before {
    background-image: url(../img/pictos/beer.svg);
    scale: 1.05;
}

.material::before {
    background-image: url(../img/pictos/dice.svg);
    scale: 1.2;
}

.right::before {
    background-image: url(../img/pictos/right.svg);
}

.wrong::before {
    background-image: url(../img/pictos/wrong.svg);
}

.joker::before {
    background-image: url(../img/logo/picto-noir-transparent.png);
}

.infinity::before {
    background-image: url(../img/pictos/infinity.svg);
    scale: 0.9;
}

.infinity-light::before {
    background-image: url(../img/pictos/infinity-light.svg);
    scale: 1.5;
}

.card-A::before {
    background-image: url(../img/pictos/cards/A.png);
}

.card-3::before {
    background-image: url(../img/pictos/cards/3.png);
}

.card-6::before {
    background-image: url(../img/pictos/cards/6.png);
}

.card-9::before {
    background-image: url(../img/pictos/cards/9.png);
}

.card-V::before {
    background-image: url(../img/pictos/cards/V.png);
}

.card-D::before {
    background-image: url(../img/pictos/cards/D.png);
}

.card-R::before {
    background-image: url(../img/pictos/cards/R.png);
}

.die-1::before,
.die-2::before,
.die-3::before,
.die-4::before,
.die-5::before,
.die-6::before,
.dieT-2::before,
.dieT-3::before,
.dieT-6::before,
.dieT-7::before,
.dieT-9::before,
.dieT-10::before,
.dieT-11::before,
.dieT-12::before {
    scale: 0.85;
}

.die-1::before {
    background-image: url(../img/pictos/dice/1.svg);
}

.die-2::before {
    background-image: url(../img/pictos/dice/2.svg);
}

.die-3::before {
    background-image: url(../img/pictos/dice/3.svg);
}

.die-4::before {
    background-image: url(../img/pictos/dice/4.svg);
}

.die-5::before {
    background-image: url(../img/pictos/dice/5.svg);
}

.die-6::before {
    background-image: url(../img/pictos/dice/6.svg);
}

.dieT-2::before {
    background-image: url(../img/pictos/dice/T-2.png);
}

.dieT-3::before {
    background-image: url(../img/pictos/dice/T-3.png);
}

.dieT-6::before {
    background-image: url(../img/pictos/dice/T-6.png);
}

.dieT-7::before {
    background-image: url(../img/pictos/dice/T-7.png);
}

.dieT-9::before {
    background-image: url(../img/pictos/dice/T-9.png);
}

.dieT-10::before {
    background-image: url(../img/pictos/dice/T-10.png);
}

.dieT-11::before {
    background-image: url(../img/pictos/dice/T-11.png);
}

.dieT-12::before {
    background-image: url(../img/pictos/dice/T-12.png);
}