/* LIGHT */
$l-bg-color: #fff;
$l-bg-lightGray1-color: #eee;
$l-bg-lightGray3-color: #ccc;
$l-bg-LightGray4-color: #bbb;

$l-p-color: #ff0000;
$l-p-lighter-color: #ff4444;
$l-p-darker-color: #be0000;

$l-base-color: #000;
$l-reverse-color: #fff;

$l-bg-footer-color: #111;
$l-bg-f-lighter-color: #333;
$l-footer-text-color: #fff;

$l-bg-toast-color: #080808;
$l-toast-shadow-color: #000;

$navigation-height: 70px;
$navigation-height-640: 50px;
$navigation-height-1200: 60px;
$footer-height: 200px;
$footer-height-640: 150px;
$footer-height-1200: 175px;

/* DARK */
$d-bg-color: #444;