main#game {
    $mt-base: -px; // for .right and .wrong

    .right::before { // if used in the page
        margin-top: $mt-base;
    
        @media screen and (max-width: px) {
            margin-top: 0;
        }
    }
    
    .wrong::before { // if used in the page
        margin-top: $mt-base;
    
        @media screen and (max-width: px) {
            margin-top: 0;
        }
    }

    .preview {
        width: %;
        min-width: px;
        max-width: px;

        height: %; // often not used
        min-height: px; // often not used
        max-height: px; // often not used

        @media screen and (max-width: px) {
            display: block;
            float: unset;
            object-position: unset;
            margin-left: unset;
            margin-bottom: unset;
            margin: auto;

            width: %; // often 100%
            min-width: px; // often unset
            max-width: px;

            height: %; // often not used
            min-width: px; // often not used but used to unset
            max-width: px;
        }
    }

    >section:has(h2#Sommaire) {
        >div#picture {
            width: %;
            min-width: px;
            max-width: px;
        }

        @media screen and (max-width: px) {
            flex-flow: column nowrap;
            margin-top: 20px;
            margin-bottom: -20px;

            >div {
                &#picture {
                    margin: auto;
                    margin-bottom: 20px;

                    width: %; // often 100%
                    min-width: px; // often unset
                    max-width: px;
                }

                &:has(h2#Sommaire) {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
    }
}